<!DOCTYPE html>
<!--{% load static %}-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">-->
    <link rel="stylesheet" href="../../../static/css/bootstrap.css">
    <title>Title</title>
</head>
<body class="bg-dark overflow-hidden">

<div class="account-page">
    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center" style="height: 100vh;">
        <button class="text-hash btn btn-success mx-1 my-3">Display saved Text/Hash</button>
        <button class="pass-change btn btn-primary mx-1 my-3">Change password</button>
        <button class="logout btn btn-warning mx-1 my-3">logout</button>
        <a class="btn btn-danger mx-1 my-3" href="{% url 'delete-account' %}">Delete Account</a>
    </div>
</div>

<div class="modal-sec">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary d-none modal-btn" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="text-center">Register</h5>
                    <div class="modal-body-inner"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../../static/js/jquery.js"></script>
<!--<script src="../../../static/js/popper.js"></script>-->
<script src="../../../static/js/bootstrap.js"></script>
<script src="../../../static/js/CustomJs.js"></script>
<!--<script src="{% static 'js/jquery.js' %}"></script>-->
<!--<script src="{% static 'js/popper.js' %}"></script>-->
<!--<script src="{% static 'js/bootstrap.js' %}"></script>-->
</body>
</html>
